.main-container {
    display: flex;
    height: 100vh;
}

.side-menu-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.home-page-container {
    background: linear-gradient(180deg, #f8f3fb 0%, #fdfbfd 100%);
    width: 100%;
}

.profile-container {
    margin-bottom: 12px;
}
