// async-button.scss

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 16px;
    color: #707c97;
    cursor: pointer;
    transition: background 0.3s ease;

    border-radius: 6px;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    border: none;
    transition: background 0.3 ease;

    &:hover {
        background: linear-gradient(
            92.68deg,
            #075aae16 100%,
            hsla(210, 89%, 14%, 0.128) 0%
        );
        box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.043),
            4px 4px 25px rgba(42, 139, 242, 0.05),
            10px 6px 25px rgba(42, 139, 242, 0.15);
    }

    // Adjust the styling for the icon
    svg {
        margin-right: 4px; // Add some spacing between icon and text
        font-size: 20px; // Adjust the icon size as needed
    }

    span {
        margin-left: 8px; // Add some spacing between icon and text
    }
}
